<div class="video-wrapper">

    <video id="background-video" autoplay loop muted poster="https://assets.codepen.io/6093409/river.jpg">
<source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
</video> 



</div>
<div class="welcome">
    <span>Welcome to TraveLink!</span>
    <div class="enter-options">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
    </div>
</div>